figure{
    max-width: 400px;
    max-height: auto;
}

body{
    background-image: url(https://images.unsplash.com/photo-1587614382346-4ec70e388b28?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);
    background-attachment: fixed;
    background-clip: border-box;
    background-size: cover;
    
}
  